<nav>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a  class="nav-item-li" href="{{ path('main_accueil') }}">Accueil</a>
        </li>
        <li class="nav-item">
            <a  class="nav-item-li" href="{{ path('logement_liste') }}" >Annonces</a>
        </li>
        <li class="nav-item">
            <a  class="nav-item-li" href="{{ path('logement_ajouter') }}" >Vendre/Louer</a>
        </li>
        <li class="nav-item">
            <a  class="nav-item-li" href="{{ path('infos_apropos') }}" >A propos</a>
        </li>
        <li class="nav-item">
            <a  class="nav-item-li" href="{{ path('infos_mentions') }}" >Mentions légales</a>
        </li>
    </ul>
</nav>
